@charset "UTF-8";

.body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 105%;
    background-color: rgba(1, 1, 1, 0.858);
    color: white;
}

.main{
    text-align: center;
    transform: translateY(20px);
}

.main > h1{
    margin-bottom: 50px;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80vw;
    transform: translateX(40px);
}

.itemArtists{
    width: 190px;
    height: 270px;
    margin-bottom: 20px;
    border: 2px solid white;
    border-radius: 8px;
    padding: 5px;
}

.containerImg{
    width: 100%;
    height: 85%;
    overflow: hidden;
    margin-bottom: 7px;
}

.containerImg > img{
    width: 100%;
    height: 100%;
    transition: 0.3s;
    border-radius: 6px;
}

.containerImg > img:hover{
    transform: scale(1.2);
}

.nameArtists{
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}