@charset "UTF-8";

.body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 105%;
    background-color: rgba(1, 1, 1, 0.858);
    color: white;
}

.main{
    text-align: center;
    transform: translateY(20px);
}

.main > h1{
    margin-bottom: 50px;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80vw;
    transform: translateX(40px);
}

.itemArtists{
    position: relative;
    width: 190px;
    height: 270px;
    margin-bottom: 20px;
    border: 2px solid white;
    border-radius: 8px;
    padding: 5px;
    z-index: 1;
}

.containerImg{
    width: 100%;
    height: 85%;
    overflow: hidden;
    margin-bottom: 7px;
}

.containerImg > img{
    width: 100%;
    height: 100%;
    transition: 0.3s;
    border-radius: 6px;
}

.containerImg > img:hover{
    transform: scale(1.2);
}

.nameArtists{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
}

.fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.iconDelete{
    position: absolute;
    top: 11px;
    right: 11px;
    z-index: 2;
}
  
.iconDelete > span{
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.834);
    color: white;
    padding: 5px;
    border-radius: 50%;
    font-size: 23px;
    transition: 0.2s;
}
  
.iconDelete > span:hover{
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.829);
}