@charset "UTF-8";

.body{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.858);
    color: white;
}

.body2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    background-color: rgba(1, 1, 1, 0);
    color: white;
}

.mainArtista{
    position: absolute;
    right: 150px;
    transform: translateY(-185px);
}

.titleArtista{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
}

.containerArtists{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 680px;
    height: 255px;
    background: linear-gradient(to right, rgb(255, 183, 2), #ffff5b);
    border: 5px solid rgb(55, 55, 55);
    border-radius: 15px;
}

.itemArtists{
    position: relative;
    width: 180px;
    height: 230px;
    background-color: rgb(37, 37, 37);
    text-align: center;
    margin-right: 30px;
    padding: 6px;
    border-radius: 10px;
    z-index: 1;
}

.containerImgArtista{
    width: 100%;
    height: calc(100% - 30px);
    border-radius: 5px;
    margin-bottom: 7px;
    overflow: hidden;
}

.containerImgArtista > img{
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.containerImgArtista > img:hover{
    transform: scale(1.2);
}

.itemArtists > h1{
    width: 100%;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.containerArtists span{
    font-size: 40px;
    font-weight: 900;
}

.arrowLeftArtista{
    position: absolute;
    top: calc(260px - 63%);
    left: 40px;
    cursor: pointer;
}

.arrowRightArtista{
    position: absolute;
    top: calc(260px - 63%);
    right: 40px;
    cursor: pointer;
}

.arrowLeftDesableArtista{
    position: absolute;
    top: calc(260px - 63%);
    left: 40px;
    color: rgba(124, 124, 124, 0.474);
}

.arrowRightDesableArtista{
    position: absolute;
    top: calc(260px - 63%);
    right: 40px;
    color: rgba(124, 124, 124, 0.474);
}

.iconFavArt{
    position: absolute;
    top: 9px;
    right: 9px;
    z-index: 2;
}
  
.iconFavArt > span{
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.834);
    color: white;
    padding: 3px;
    border-radius: 50%;
    font-size: 20px;
    transition: 0.2s;
}
  
.iconFavArt > span:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgba(255, 0, 0, 0.829);
}

/* ==================== CSS Album ================= background: linear-gradient(to right, rgb(255, 183, 2), #ffff5b);*/

.mainAlbum{
    position: absolute;
    right: 150px;
    transform: translateY(150px);
}

.titleAlbum{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
}

.containerAlbum{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 680px;
    height: 325px;
    background: linear-gradient(to right, #6157FF, #EE49FD);
    border: 5px solid rgb(55, 55, 55);
    border-radius: 15px;
}

.itemAlbum{
    width: 220px;
    height: 295px;
    background-color: rgb(37, 37, 37);
    text-align: center;
    margin-right: 30px;
    padding: 6px;
    border-radius: 10px;
}

.itemAlbum:hover{
    cursor: pointer;
}

.containerImgAlbum{
    width: 100%;
    height: calc(100% - 60px);
    border-radius: 5px;
    margin-bottom: 7px;
    overflow: hidden;
}

.containerImgAlbum > img{
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.containerImgAlbum > img:hover{
    transform: scale(1.2);
}

.itemAlbum > h1{
    width: 100%;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.itemAlbum > p{
    width: 100%;
    height: 10px;
    transform: translateY(-10px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: rgb(141, 141, 141);
}

.contentText{
    width: 100%;
    height: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.contentText > p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: rgb(141, 141, 141);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 2px;
}

.containerAlbum span{
    font-size: 40px;
    font-weight: 900;
}

.arrowLeftAlbum{
    position: absolute;
    top: calc(260px - 41%);
    left: 40px;
    cursor: pointer;
}

.arrowRightAlbum{
    position: absolute;
    top: calc(260px - 41%);
    right: 40px;
    cursor: pointer;
}

.arrowLeftDesableAlbum{
    position: absolute;
    top: calc(260px - 41%);
    left: 40px;
    color: rgba(124, 124, 124, 0.474);
}

.arrowRightDesableAlbum{
    position: absolute;
    top: calc(260px - 41%);
    right: 40px;
    color: rgba(124, 124, 124, 0.474);
}

/*
====================== Podcast ==================
*/

.mainPodcast{
    position: absolute;
    left: 100px;
    transform: translateY(-5px);
}

.titlePodcast{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
}

.containerPodcast{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 555px;
    background: linear-gradient(to right, #103CE7, #4e98a4);
    border: 5px solid rgb(55, 55, 55);
    border-radius: 15px;
}

.itemPodcast{
    width: 300px;
    height: 500px;
    background-color: rgb(37, 37, 37);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.containerImgPodcast{
    width: 100%;
    height: calc(100% - 250px);
    border-radius: 5px;
    margin-bottom: 7px;
    overflow: hidden;
}

.containerImgPodcast > img{
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.containerImgPodcast > img:hover{
    transform: scale(1.2);
}

.itemPodcast > h1{
    width: 100%;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.containerPodcast span{
    font-size: 40px;
    font-weight: 900;
}

.arrowLeftPodcast{
    position: absolute;
    top: calc(300px - 10%);
    left: 40px;
    cursor: pointer;
}

.arrowRightPodcast{
    position: absolute;
    top: calc(300px - 10%);
    right: 40px;
    cursor: pointer;
}

.arrowLeftDesablePodcast{
    position: absolute;
    top: calc(300px - 10%);
    left: 40px;
    color: rgba(124, 124, 124, 0.474);
}

.arrowRightDesablePodcast{
    position: absolute;
    top: calc(300px - 10%);
    right: 40px;
    color: rgba(124, 124, 124, 0.474);
}

.contDetails{
    margin-top: -5px;
}

.contDetails > p{
    color: rgb(141, 141, 141);
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.data{
    margin-top: -15px;
}

.contDescricao{
    margin-top: -10px;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
    height: 179px;
    overflow-y: auto;
}

.contDescricao > p{
    text-align: justify;
    height: 99%;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

/* =========== */

.iconFav{
    position: absolute;
    top: 12px;
    right: 12px;
  }
  
.iconFav > span{
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.834);
    color: white;
    padding: 5px;
    border-radius: 50%;
    font-size: 25px;
    transition: 0.2s;
  }
  
.iconFav > span:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgba(255, 0, 0, 0.829);
}

/* media queries */

@media screen and (max-width: 785px){
    .body{
        display: block;
        height: 100%;
    }

    .body2{
        display: block;
        height: 100%;
    }

    .mainArtista{
        position: relative;
        right: none;
        transform: none;
        width: 95%;
        transform: translateX(47%);
        padding-top: 20px;
    }

    .titleArtista{
        font-size: 16px;
    }

    .containerArtists{
        width: 100%;
        height: 300px;
        padding-left: 3%;
    }

    .itemArtists{
        min-width: 45%;
        height: 230px;
        margin-right: 10px;
        transform: translateY(-20px);
    }

    .containerArtists span{
        font-size: 30px;
    }

    .arrowLeftArtista{
        top: calc(250px + 0%);
        left: calc(25%);
    }

    .arrowRightArtista{
        top: calc(250px + 0%);
        right: calc(25%);
    }

    .arrowLeftDesableArtista{
        top: calc(250px + 0%);
        left: calc(25%);
    }

    .arrowRightDesableArtista{
        top: calc(250px + 0%);
        right: calc(25%);
    }

    .iconFavArt{
        position: absolute;
        top: 9px;
        right: 9px;
        z-index: 2;
    }
    
    .iconFavArt > span{
        font-weight: normal;
        background-color: rgba(0, 0, 0, 0.834);
        color: white;
        padding: 3px;
        border-radius: 50%;
        font-size: 20px;
        transition: 0.2s;
    }
    
    .iconFavArt > span:hover{
        cursor: pointer;
        transform: scale(1.1);
        background-color: rgba(255, 0, 0, 0.829);
    }

    /* ==================== CSS Album =================*/

    .mainAlbum{
        position: relative;
        right: none;
        transform: none;
        width: 95%;
        transform: translateX(47%);
        padding-top: 20px;
    }

    .titleAlbum{
        font-size: 16px;
    }

    .containerAlbum{
        width: 100%;
        height: 325px;
        padding-left: 3%;
    }

    .itemAlbum{
        min-width: 45%;
        height: 255px;
        margin-right: 10px;
        transform: translateY(-19px);
    }

    .itemAlbum > h1{
        font-size: 12px;
    }

    .itemAlbum > p{
        font-size: 11px;
    }
    
    .contentText > p{
        font-size: 12px;
    }

    .containerAlbum span{
        font-size: 30px;
    }

    .arrowLeftAlbum{
        top: calc(250px + 8%);
        left: calc(25%);
    }

    .arrowRightAlbum{
        top: calc(250px + 8%);
        right: calc(25%);
    }

    .arrowLeftDesableAlbum{
        top: calc(250px + 8%);
        left: calc(25%);
    }

    .arrowRightDesableAlbum{
        top: calc(250px + 8%);
        right: calc(25%);
    }

    /*
    ====================== Podcast ==================
    */

    .mainPodcast{
        position: relative;
        left: none;
        transform: none;
        width: 95%;
        transform: translateX(-25%);
        padding-top: 20px;
        margin-bottom: 30px;
    }

    .titlePodcast{
        font-size: 16px;
    }

    .containerPodcast{
        width: 95%;
        height: 580px;
        background: linear-gradient(to right, #103CE7, #4e98a4);
        border: 5px solid rgb(55, 55, 55);
        border-radius: 15px;
    }

    .itemPodcast{
        transform: translateY(-4%);
    }

    .containerPodcast span{
        font-size: 30px;
    }

    .arrowLeftPodcast{
        top: calc(300px + 40%);
        left: 25%;
    }

    .arrowRightPodcast{
        top: calc(300px + 40%);
        right: 25%;
    }

    .arrowLeftDesablePodcast{
        top: calc(300px + 40%);
        left: 25%;
    }

    .arrowRightDesablePodcast{
        top: calc(300px + 40%);
        right: 25%;
    }

    .contDetails{
        margin-top: -5px;
    }

    .contDetails > p{
        color: rgb(141, 141, 141);
        font-size: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
    }

    .data{
        margin-top: -15px;
    }

    .contDescricao{
        margin-top: -10px;
        background-color: white;
        color: black;
        border-radius: 5px;
        padding: 5px;
        height: 179px;
        overflow-y: auto;
    }

    .contDescricao > p{
        text-align: justify;
        height: 99%;
        font-size: 13px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
    }

    /* =========== */

    .iconFav{
        position: absolute;
        top: 12px;
        right: 12px;
    }
    
    .iconFav > span{
        font-weight: normal;
        background-color: rgba(0, 0, 0, 0.834);
        color: white;
        padding: 5px;
        border-radius: 50%;
        font-size: 25px;
        transition: 0.2s;
    }
    
    .iconFav > span:hover{
        cursor: pointer;
        transform: scale(1.1);
        background-color: rgba(255, 0, 0, 0.829);
    }
}

@media screen and (min-width: 786px) and (max-width: 992px){
    .body{
        display: block;
        height: 101%;
    }

    .mainArtista{
        position: relative;
        right: none;
        transform: none;
        width: 60%;
        transform: translateX(60%);
        padding-top: 20px;
    }

    .titleArtista{
        font-size: 16px;
    }

    .containerArtists{
        width: 100%;
        height: 300px;
        padding-left: 3%;
    }

    .itemArtists{
        min-width: 30%;
        height: 230px;
        margin-right: 10px;
        transform: translateY(-3px);
    }

    .containerArtists span{
        font-size: 30px;
    }

    .arrowLeftArtista{
        top: calc(250px - 40%);
        left: calc(6%);
    }

    .arrowRightArtista{
        top: calc(250px - 40%);
        right: calc(5%);
    }

    .arrowLeftDesableArtista{
        top: calc(250px - 40%);
        left: calc(6%);
    }

    .arrowRightDesableArtista{
        top: calc(250px - 40%);
        right: calc(5%);
    }

    .iconFavArt{
        position: absolute;
        top: 9px;
        right: 9px;
        z-index: 2;
    }
    
    .iconFavArt > span{
        font-weight: normal;
        background-color: rgba(0, 0, 0, 0.834);
        color: white;
        padding: 3px;
        border-radius: 50%;
        font-size: 20px;
        transition: 0.2s;
    }
    
    .iconFavArt > span:hover{
        cursor: pointer;
        transform: scale(1.1);
        background-color: rgba(255, 0, 0, 0.829);
    }

    /* ==================== CSS Album =================*/

    .mainAlbum{
        position: relative;
        right: none;
        transform: none;
        width: 60%;
        transform: translateX(60%);
        padding-top: 20px;
    }

    .titleAlbum{
        font-size: 16px;
    }

    .containerAlbum{
        width: 100%;
        height: 325px;
        padding-left: 3%;
    }

    .itemAlbum{
        width: 35%;
        height: 255px;
        margin-right: 10px;
        transform: translateY(-2px);
    }

    .itemAlbum > h1{
        font-size: 12px;
    }

    .itemAlbum > p{
        font-size: 11px;
    }
    
    .contentText > p{
        font-size: 12px;
    }

    .containerAlbum span{
        font-size: 30px;
    }

    .arrowLeftAlbum{
        top: calc(250px - 35%);
        left: calc(6%);
    }

    .arrowRightAlbum{
        top: calc(250px - 35%);
        right: calc(5%);
    }

    .arrowLeftDesableAlbum{
        top: calc(250px - 35%);
        left: calc(6%);
    }

    .arrowRightDesableAlbum{
        top: calc(250px - 35%);
        right: calc(5%);
    }

    /*
    ====================== Podcast ==================
    */

    .mainPodcast{
        position: relative;
        left: none;
        transform: none;
        width: 60%;
        transform: translateX(13%);
        padding-top: 20px;
        margin-bottom: 30px;
    }

    .titlePodcast{
        font-size: 16px;
    }

    .containerPodcast{
        width: 100%;
        height: 580px;
        background: linear-gradient(to right, #103CE7, #4e98a4);
        border: 5px solid rgb(55, 55, 55);
        border-radius: 15px;
    }

    .itemPodcast{
        transform: translateY(0%);
    }

    .containerPodcast span{
        font-size: 30px;
    }

    .arrowLeftPodcast{
        top: calc(300px - 10%);
        left: 8%;
    }

    .arrowRightPodcast{
        top: calc(300px - 10%);
        right: 8%;
    }

    .arrowLeftDesablePodcast{
        top: calc(300px - 10%);
        left: 8%;
    }

    .arrowRightDesablePodcast{
        top: calc(300px - 10%);
        right: 8%;
    }

    .contDetails{
        margin-top: -5px;
    }

    .contDetails > p{
        color: rgb(141, 141, 141);
        font-size: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
    }

    .data{
        margin-top: -15px;
    }

    .contDescricao{
        margin-top: -10px;
        background-color: white;
        color: black;
        border-radius: 5px;
        padding: 5px;
        height: 179px;
        overflow-y: auto;
    }

    .contDescricao > p{
        text-align: justify;
        height: 99%;
        font-size: 13px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
    }

    /* =========== */

    .iconFav{
        position: absolute;
        top: 12px;
        right: 12px;
    }
    
    .iconFav > span{
        font-weight: normal;
        background-color: rgba(0, 0, 0, 0.834);
        color: white;
        padding: 5px;
        border-radius: 50%;
        font-size: 25px;
        transition: 0.2s;
    }
    
    .iconFav > span:hover{
        cursor: pointer;
        transform: scale(1.1);
        background-color: rgba(255, 0, 0, 0.829);
    }
}

.fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}