@charset "UTF-8";

.body{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.858);
  color: white;
}

.main{
  transform: translateY(-10px);
}

.title{
  margin-bottom: 15px;
  font-weight: 600;
}

.containerAlbuns{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 650px;
  height: 500px;
  border-radius: 15px;
  border: 10px solid rgb(55, 55, 55);
  background: linear-gradient(to right, #ff2cdf, #0014ff);
}

.arrowLeft{
  position: absolute;
  top: calc(500px - 62%);
  left: 40px;
  color: white;
  cursor: pointer;
}

.arrowRight{
  position: absolute;
  top: calc(500px - 62%);
  right: 40px;
  color: white;
  cursor: pointer;
}

.containerAlbuns span{
  font-size: 40px;
  font-weight: 900;
}

.containerAlbuns > h1{
  font-size: 25px;
  font-weight: 500;
  color: white;
}

.itemAlbum{
  background-color: rgb(37, 37, 37);
  width: 330px;
  height: 450px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  transform: translateY(-3px);
}

.itemAlbum > img{
  width: 311px;
  height: 320px;
  border-radius: 5px;
}

.disableArrowLeft{
  position: absolute;
  top: calc(500px - 62%);
  left: 40px;
  color: rgba(180, 180, 180, 0.838);
}

.disableArrowRight{
  position: absolute;
  top: calc(500px - 62%);
  right: 40px;
  color: rgba(180, 180, 180, 0.474);
}

.content{
  width: 310px;
  height: 105px;
}

.nameAlbum{
  margin-top: 5px;
  width: 310px;
  height: 40px;
  font-size: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contentText{
  width: 310px;
  height: 30px;
  margin-top: -18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentText > p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: rgb(141, 141, 141);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 2px;
}

.conatinerAudio{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 60px;
  cursor: pointer;
  margin-top: -12px;
}

.conatinerAudio > audio{
  width: 80%;
  height: 70%;
}